
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #000000;
    padding: 50px;
    gap: 50px;
}

.footer-texto {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgb(208, 193, 214);
    padding-right: 80px;
}

.titulo-footer {
    color: rgb(208, 193, 214);
    font-size: 1.7rem;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
}

.contatos {
    color: #ec74f9aa;
    font-size: 1rem;
    line-height: 1.4rem;
    padding-bottom: 2rem;
}

.footer-redes {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    font-size: 2rem;
}

.footer-redes li {
    font-weight: 100px;
    font-size: 1.1rem;
    line-height: 1.1;
    margin-bottom: 10px;
}

.footer-redes a {
    color: #ec74f9aa;
}

.footer-redes a:hover {
    color: #ccbdeb;
}

.footer-redes a, i {
    font-size: 1.5rem;
}

.footer-copy {
    grid-column: 1 / -1;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    background-color: #412d43aa;
    padding: 15px;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 50px;
    }

    .footer-contato li {
        font-size: 1rem;
    }
}