
.footer-container {
    padding: 80px 10px 10px 80px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    background: #000000;
}

.footer-texto {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: rgb(255, 255, 255);
}

.footer-contato li {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #c72694;
    margin-bottom: 10px;
}


.footer-copy {
    grid-column: 1 / -1;
    font-size: 1.125rem;
    color: #c59fb7;
}

@media (max-width: 800px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 50px;
    }

    .footer-contato li {
        font-size: 1rem;
    }
}