.logo {
    width: 60px;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;  
    gap: 1rem;    
    justify-content: center;
} 

.header-menu a {
    color: #141414;
    padding: 16px 0;
    display: inline-block;
    font-size: 18px;
    position: relative;
}

.header-menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #bf2988a0;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header-menu a:hover:after {
    width: 100%;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0px 0px 0px;
        margin: 2px;
    }

    .header a {
        background: #f5f5f5;
        border-radius: 4px;
        padding: 8px;
    }

    .header-menu a:hover {
        background-color: #b8b6b6;
    }
}