.cqc {
    background: url("../img/cqc.svg");
    background-size: 320px;
    border: 2px solid;
}

.iba {
    background: url("../img/iba.svg");
    background-size: 320px;
    border: 2px solid;
}

.maelu {
    background: url("../img/maelu.svg");
    background-size: 320px;
    border: 2px solid;
}

.casa {
    background: url("../img/casadosgrampos.svg");
    background-size: 320px;
    border: 2px solid;
}

.projetos {
    padding-top: 93px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
    font-size: 50px;
}

.projetos a {
    display: inline;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #d840e9aa;
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #9424a1aa;
}

.github-link {
    background: linear-gradient(#B58DA4, #c49bb2);
    color: #fff !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    max-width: max-content;
    padding: 4px 12px;
    margin-bottom: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.github-link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
 }

.embreve {
    background: linear-gradient(#c17ea3, #8b68d7);
    border: 2px solid;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro {
    border: 2px solid;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #543c7766;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.pro:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
 }

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}


/* RESPONSIVO */
@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }



}

@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }
}