.sessao-port {
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 30px;
    text-align: center;
}

.sessao-port h2 {
    margin-bottom: 40px;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #c17ea3;
    text-transform: uppercase;
}

.sessao-port h3 {
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
    color: #7e79ba;
    text-transform: uppercase;
}

.sessao-port span {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}

.sessao-port ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.sessao-port li {
    flex: 1;
    min-width: 280px;
}

.port {
    background: hsla(306, 22%, 9%, 0.883);
    border: 10px solid hsla(305, 23%, 9%, 0.333);
    border-radius: 10px;
}

.img-port {
    padding: auto;
    margin-bottom: 20px;
}

.desc-port {
    color: linear-gradient(#c17ea3, #8b68d7);
    margin-bottom: 50px;
}

.titulo-port:hover {
    color: #c17ea3;
}

